---
import { info, cursos, prices } from "@data/data.json";
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
import CarouselInfinite from "@components/CarouselInfinite.astro";
import ListItemCourse from "@components/ListItemCourse.astro";
import NavigationCourses from "@components/NavigationCourses.astro";
import LinkButton from "@components/LinkButton.astro";
import ArrowNarrowRight from "@icons/ArrowNarrowRight.astro";
import ArrowNarrowLeft from "@icons/ArrowNarrowLeft.astro";
const NAME = cursos.aowd.name;
const DESCRIPTION = cursos.aowd.description;
---

<Layout
  title=`Curso ${NAME} | ${info.name}`
  description=`Curso ${NAME} - ${DESCRIPTION} | ${info.address}, Tel.: ${info.phone}, mail: ${info.email}`
>
  <SectionContainer class="pt-3 pb-2">
    <h1>{NAME}</h1>
    <h2>{DESCRIPTION}</h2>
  </SectionContainer>

  <section class="pt-1 pb-2">
    <CarouselInfinite
      images={[
        { src: "/img/cursos/aowd/aowd002.webp", alt: "Buceo profundo" },
        { src: "/img/cursos/aowd/aowd003.webp", alt: "Buceo en barcos hundidos" },
        { src: "/img/cursos/aowd/aowd001.webp", alt: "Buceo en barcos hundidos" },
        { src: "/img/cursos/aowd/aowd005.webp", alt: "Buceo nocturno" },
        { src: "/img/cursos/aowd/aowd004.webp", alt: "Buceo desde barco" },
        { src: "/img/cursos/aowd/aowd006.webp", alt: "Buceo profundo" },
      ]}
    />
  </section>

  <SectionContainer class="pt-2 pb-2">
    <article>
      <div class="col-left">
        <h3>Estructura del curso</h3>
        <ul>
          <ListItemCourse>
            <b>El programa Adventures In Diving ofrece dos opciones de titulación:</b>
            <ol>
              <li>
                <b><u>PADI Adventure Diver:</u></b> El buceador que realiza tres inmersiones de aventura cualesquiera.
              </li>
              <li>
                <b><u>Advanced Open Water Diver (Recomendado):</u></b> El buceador que realiza una "Inmersión Profunda",
                una "Inmersión de Navegación" y tres inmersiones de aventura cualesquiera, cinco en total.
              </li>
            </ol>
          </ListItemCourse>
          <ListItemCourse>
            <b>El curso PADI Advanced Open Water Diver se compone de tres apartados:</b>
            <ol>
              <li>Desarrollo de conocimientos (teoría de 5 buceos de aventura).</li>
              <li>Entrenamiento en pileta (2 clases prácticas).</li>
              <li>Entrenamiento en aguas abiertas.</li>
            </ol>
          </ListItemCourse>
          <ListItemCourse>
            Precio: <b>Consultar!</b><br />
            <u>Incluye:</u> Apartados 1 y 2, desarrollos teóricos y prácticos.<br />
            <u>No incluye:</u> Apartado 3, inmersiones en aguas abiertas. Contamos con distintas opciones que se adaptan
            a tus tiempos y tu economía.
          </ListItemCourse>
          <ListItemCourse>
            Certificación: <b>{prices.certification}</b> (Certificación Online, exclusivo Atlantida Diving School).
          </ListItemCourse>
          <ListItemCourse>
            <b
              >Al realizar éstas inmersiones desarrollarás técnicas que harán que el buceo sea más divertido y más
              versátil. Aumentará el tipo de inmersiones que podrás realizar.</b
            >
          </ListItemCourse>
        </ul>
      </div>
      <div class="col-right">
        <h3>Inmersiones de aventura</h3>
        <ul>
          <li>Altitud</li>
          <li>Identificación de peces</li>
          <li>Desde barco</li>
          <li>Profundo</li>
          <li>Con vehículo de propulsión de buceo</li>
          <li>En corrientes</li>
          <li>Traje seco</li>
          <li>Multinivel y con computador</li>
          <li>Nocturno</li>
          <li>Dominio de flotabilidad</li>
          <li>De búsqueda y recuperación</li>
          <li>Naturalista subacuático</li>
          <li>Navegación subacuática</li>
          <li>Fotografía subacuática</li>
          <li>Vídeo subacuático</li>
          <li>Barcos hundidos</li>
        </ul>
      </div>
    </article>
  </SectionContainer>

  <SectionContainer class="pt-2 pb-6">
    <NavigationCourses>
      <LinkButton href="/cursos/open-water-diver" colorPrimary={false} slot="previous">
        <ArrowNarrowLeft /> Open Water Diver
      </LinkButton>
      <LinkButton href="/cursos/emergency-first-response" colorPrimary={false} slot="next">
        Emergency First Response <ArrowNarrowRight />
      </LinkButton>
    </NavigationCourses>
  </SectionContainer>
</Layout>

<style lang="scss">
  @import "@styles/variables";

  $h1-font-size: 54px;
  $h1-font-size-md: 64px;
  $max-width: 480px;

  h1 {
    font-size: $h1-font-size;
    text-wrap: balance;
  }

  h2 {
    font-size: $h1-font-size * 0.45;
    text-wrap: balance;
  }

  h3 {
    font-size: $h1-font-size * 0.5;
    border-bottom: 1px solid $color-secondary;
    padding-bottom: 2px;
    margin-bottom: 24px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 24px;
    border-bottom: 1px solid $color-secondary;
  }

  p {
    margin-bottom: 16px;
  }

  ol {
    padding-left: 32px;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;

    .col-left {
      width: 100%;
      max-width: $max-width;

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
      }

      div {
        margin-top: 40px;
        padding: 24px;
        border-radius: 4px;
        box-shadow: $box-shadow-primary;
      }
    }

    .col-right {
      width: 100%;
      max-width: $max-width;

      ul {
        padding-left: 18px;
        list-style: circle;
      }
    }
  }

  @media (width > 768px) {
    h1 {
      font-size: $h1-font-size-md;
    }

    h2 {
      font-size: $h1-font-size-md * 0.45;
    }

    h3 {
      font-size: $h1-font-size-md * 0.5;
    }

    article {
      flex-direction: row;
      column-gap: 48px;
      justify-content: center;
      align-items: flex-start;
    }
  }
</style>
