---
import { info, cursos, prices } from "@data/data.json";
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
import TitlePage from "@components/TitlePage.astro";
import CarouselInfinite from "@components/CarouselInfinite.astro";
import ListItemCourse from "@components/ListItemCourse.astro";
import NavigationCourses from "@components/NavigationCourses.astro";
import LinkButton from "@components/LinkButton.astro";
import ArrowNarrowRight from "@icons/ArrowNarrowRight.astro";
import ArrowNarrowLeft from "@icons/ArrowNarrowLeft.astro";
const NAME = cursos.efr.name;
const DESCRIPTION = cursos.efr.description;
---

<Layout
  title=`Curso ${NAME} | ${info.name}`
  description=`Curso ${NAME} - ${DESCRIPTION} | ${info.address}, Tel.: ${info.phone}, mail: ${info.email}`
  canonicalURL="https://www.divingschool.com.ar/cursos/emergency-first-response"
  ogTitle="¿Querés aprender primeros auxilios?"
  ogDescription="Para sentirte seguro adentro y afuera del agua, aprendé primeros auxilios. Sumate a la mejor escuela de Argentina."
>
  <SectionContainer class="pt-3 pb-3">
    <TitlePage title={NAME} subtitle={DESCRIPTION} />
  </SectionContainer>

  <section>
    <CarouselInfinite
      images={[
        {
          src: "/img/cursos/efr/efr006.webp",
          alt: "Alumnos del curso Rescue Diver certificando EFR en Espejo de agua El Buda",
        },
        {
          src: "/img/cursos/efr/efr007.webp",
          alt: "Alumna practicando RCP en el aula de Atlátida",
        },
        {
          src: "/img/cursos/efr/efr001.webp",
          alt: "Alumnos del curso Rescue Diver certificando EFR en cantera de Salto",
        },
        {
          src: "/img/cursos/efr/efr002.webp",
          alt: "Alumno del curso Rescue Diver certificando EFR en cantera de Salto",
        },
        { src: "/img/cursos/efr/efr003.webp", alt: "Alumnos haciendo su curso de EFR en el aula de Atlántida" },
        { src: "/img/cursos/efr/efr004.webp", alt: "Alumna practicando RCP en el aula de Atlátida" },
        { src: "/img/cursos/efr/efr005.webp", alt: "Alumna practicando RCP en el aula de Atlátida" },
      ]}
    />
  </section>

  <SectionContainer class="pt-3 pb-3">
    <article>
      <div class="col-left">
        <h3>Estructura del curso</h3>
        <ul>
          <ListItemCourse>
            <b
              >Este programa está formado por dos módulos principales que se pueden enseñar en serie o como cursos
              independientes:</b
            >
            <ol>
              <li>Emergency First Response - Atención Primaria.</li>
              <li>Emergency First Response - Atención Secundaria.</li>
            </ol>
          </ListItemCourse>
          <ListItemCourse>
            <b>Duración: 2 clases teóricas y prácticas.</b><br />El curso puede ser intensivo, extendido, grupal o
            personalizado teniendo todas las modalidades el mismo costo.
          </ListItemCourse>
          <ListItemCourse>
            Precio: <b>Consultar!</b><br />
            <b>PROMOCION</b> abonando los cursos de Rescate y EFR juntos.
          </ListItemCourse>
          <ListItemCourse>
            Certificación: <b>{prices.certification}</b>
          </ListItemCourse>
        </ul>
      </div>
      <div class="col-right">
        <h3>Porque hacerlo</h3>
        <ul>
          <ListItemCourse>
            Emergency First Response le proporciona las herramientas necesarias para aplicar RCP y primeros auxilios,
            sea o no un buceador. Estará preparado para manejar adecuadamente situaciones que podrían poner en peligro
            la vida.
          </ListItemCourse>
          <ListItemCourse>
            Juntos, los cursos brindan instrucción completa en RCP y primeros auxilios, así como también incluyen
            secciones opcionales (pero de cualquier modo recomendadas) en manejo de desfibrilador externo automatizado
            (AED) y oxígeno para emergencias.
          </ListItemCourse>
          <ListItemCourse>
            No se requiere certificación de buceo.<br />No hay límite de edad mínima.
          </ListItemCourse>
          <ListItemCourse>Es obligatorio si querés ser <b>Rescue Diver</b></ListItemCourse>
        </ul>
      </div>
    </article>
  </SectionContainer>

  <SectionContainer class="pt-3 pb-6">
    <NavigationCourses>
      <LinkButton href="/cursos/advanced-open-water-diver" colorPrimary={true} slot="previous">
        <ArrowNarrowLeft /> Adv. Open Water Diver
      </LinkButton>
      <LinkButton href="/cursos/rescue-diver" colorPrimary={true} slot="next">
        Rescue Diver <ArrowNarrowRight />
      </LinkButton>
    </NavigationCourses>
  </SectionContainer>
</Layout>

<style lang="scss">
  @import "@styles/variables";

  h3 {
    font-size: 24px;
    border-bottom: 1px solid $color-secondary;
    padding-bottom: 2px;
    margin-bottom: 24px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 24px;
    border-bottom: 1px solid $color-secondary;
  }

  p {
    margin-bottom: 16px;
  }

  ol {
    padding-left: 32px;
  }

  article {
    $max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

    .col-left {
      width: 100%;
      max-width: $max-width;

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
      }
    }

    .col-right {
      width: 100%;
      max-width: $max-width;

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
      }
    }
  }

  @media (width > 768px) {
    h3 {
      font-size: 32px;
    }
    article {
      flex-direction: row;
      align-items: flex-start;
    }
  }
</style>
