---
import { info, cursos, links } from "@data/data.json";
import { removeAccents } from "@utils/removeAccents";
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
import TitlePage from "@components/TitlePage.astro";
import NavigationCourses from "@components/NavigationCourses.astro";
import LinkButton from "@components/LinkButton.astro";
import WhatsappIcon from "@icons/WhatsappIcon.astro";
import ArrowNarrowLeft from "@icons/ArrowNarrowLeft.astro";
import CameraIcon from "@icons/CameraIcon.astro";
import VideoIcon from "@icons/VideoIcon.astro";
import ScubaMask from "@icons/ScubaMask.astro";

const NAME = cursos.fotografia.name;
const DESCRIPTION = cursos.fotografia.description;
const NAME_NORM = removeAccents(NAME);
const DESCRIPTION_NORM = removeAccents(DESCRIPTION);
---

<Layout
  title=`Curso ${NAME} | ${info.name}`
  description=`Curso ${NAME} | ${info.address}, Tel.: ${info.phone}, mail: ${info.email}`
  canonicalURL="https://www.divingschool.com.ar/cursos/fotografia"
  ogTitle="¿Quérés scar fotos en el fondo del mar?"
  ogDescription="Convertite en fotógrafo subacuático, sumate a la mejor escuela de Argentina."
>
  <SectionContainer class="pt-3 pb-3">
    <TitlePage title={NAME_NORM} subtitle={DESCRIPTION_NORM} />
  </SectionContainer>

  <SectionContainer class="pt-0 pb-3">
    <div class="description-course">
      <ul class="col">
        <li class="pb-2">
          <b>El curso ideal para buzos que quieren capturar sus aventuras como verdaderos creadores de contenido.</b><br
          />
          Si ya sos buzo certificado y querés empezar a registrar tus inmersiones con <b>calidad profesional</b>, este
          curso es para vos. Diseñado para los tiempos actuales, con una metodología clara, directa y divertida, vas a
          aprender lo necesario para mejorar tus fotos y videos en muy poco tiempo, sin vueltas ni tecnicismos
          innecesarios.
        </li>
        <li><CameraIcon /></li>
        <li><b>¿Qué vas a aprender?</b></li>
        <li class="pb-2">
          <ul>
            <li>Cómo configurar correctamente tu <b>GoPro o cámara de acción</b> para buceo.</li>
            <li>Manejo de cámara bajo el agua: encuadres, movimientos y estabilidad.</li>
            <li>Uso de la luz y el color en ambientes subacuáticos.</li>
            <li>Técnicas básicas de composición visual para fotografía y video.</li>
            <li>Cómo preparar tus equipos para filmar con seguridad y eficiencia.</li>
            <li>Introducción a la edición para mejorar tus contenidos fácilmente.</li>
            <li>Consejos prácticos para <b>capturar escenas increibles</b> sin necesidad de grandes producciones.</li>
          </ul>
        </li>
      </ul>
      <ul class="col">
        <li><VideoIcon /></li>
        <li><b>¿Cómo es el curso?</b></li>
        <li class="pb-2">
          <ul>
            <li>2 clases teóricas presenciales.</li>
            <li>2 prácticas en pileta, donde vas a aplicar todo lo aprendido.</li>
          </ul>
        </li>
        <li><ScubaMask /></li>
        <li class="pb-2">
          <ul>
            <li><b>Acompañamiento personalizado</b> y ejemplos reales de grabaciones submarinas.</li>
            <li>
              Además de aprender, <b>vas a pasarla bien</b>: el enfoque es 100% práctico, dinámico y orientado a que
              mejores rápido y disfrutes el proceso.
            </li>
            <li>
              No se trata solo de apretar REC bajo el agua. Se trata de <b
                >contar historias visuales que te inspiren y conecten con otros</b
              >.
            </li>
            <li>Sumate y llevá tus videos y fotos de buceo al próximo nivel.</li>
            <li>Consultá por fechas e inscripción. <b>Cupos limitados</b>.</li>
          </ul>
        </li>
      </ul>
    </div>
  </SectionContainer>

  <SectionContainer class="pt-0 pb-3">
    <ul class="grid">
      <li>
        <img
          src="/img/cursos/fotografia/fotografia001.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos."
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia002.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia003.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia004.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia005.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia006.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia007.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia008.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia009.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia010.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia011.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia012.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia013.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia014.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
    </ul>

    <!-- <ul class="grid">
      <li class="vertical">
        <img
          src="/img/cursos/fotografia/fotografia004.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos."
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia001.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia002.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia003.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li class="vertical">
        <img
          src="/img/cursos/fotografia/fotografia006.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia007.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
      <li>
        <img
          src="/img/cursos/fotografia/fotografia012.webp"
          alt="Alumno haciendo el curso de fotografía en pileta y fotografiando objetos"
        />
      </li>
    </ul> -->
  </SectionContainer>

  <SectionContainer class="pt-3 pb-6">
    <NavigationCourses>
      <LinkButton href="/cursos/enriched-air-nitrox-diver" colorPrimary={true} slot="previous">
        <ArrowNarrowLeft /> Enriched Air Nitrox Diver
      </LinkButton>
      <LinkButton href={links.whatsapp} colorPrimary={true} target="_blank" slot="next">
        Contacto <WhatsappIcon />
      </LinkButton>
    </NavigationCourses>
  </SectionContainer>
</Layout>

<style lang="scss">
  @import "@styles/variables";

  .description-course {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin-inline: auto;

    ul li ul {
      padding-left: 20px;
      list-style: disc;
    }
  }

  .grid {
    max-width: 480px;
    margin-inline: auto;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
    grid-auto-rows: min-content;
    gap: 4px;

    li {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .vertical {
      grid-row: span 2;
    }
  }

  @media (width > 768px) {
    .description-course {
      flex-direction: row;
      max-width: none;
      column-gap: 64px;

      .col {
        width: 50%;
      }
    }

    .grid {
      max-width: none;
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
      grid-template-columns: 1fr 1fr 1fr;

      li:nth-child(12),
      li:nth-child(13) {
        display: none;
      }
    }
  }
</style>
