---
import { info, cursos } from "@data/data.json";
import Layout from "@layouts/Layout.astro";
import TitlePage from "@components/TitlePage.astro";
import SectionContainer from "@components/SectionContainer.astro";
import LinkCourse from "@components/LinkCourse.astro";
import ListItemCourse from "@components/ListItemCourse.astro";
---

<Layout
  title=`Cursos y especialidades ${info.name}`
  description=`Todos los cursos de buceo PADI en un solo lugar, ${info.address}, Tel.: ${info.phone}, mail: ${info.email}`
  canonicalURL="https://www.divingschool.com.ar/cursos"
  ogTitle="¿Qué es el buceo recreativo?"
  ogDescription="¿Nunca respiraste bajo el agua? Éste es el momento, sumate a la mejor escuela de Argentina."
>
  <SectionContainer class="pt-3 pb-3">
    <TitlePage title="Cursos PADI" subtitle="La certificadora de buceo mas grande del mundo" />
  </SectionContainer>

  <SectionContainer class="pt-0 pb-6">
    <article>
      <div class="col-left">
        <h3>Programa el curso a tu medida</h3>
        <ul>
          <ListItemCourse>
            <b
              >Nuestros cursos no dependen como la mayoría de otras escuelas de un día especifico o numero mínimo de
              candidatos para comenzar, los días y horarios son programados en función de la disponibilidad del alumno y
              de acuerdo con la agenda del día.</b
            >
          </ListItemCourse>
          <ListItemCourse>
            Cursos totalmente personalizados, no mas de 6 alumnos por grupo. Nuestro objetivo, que te sientas comodo,
            seguro y sin presiones.
          </ListItemCourse>
          <ListItemCourse>
            Aprenderás en una secuencia que fija las técnicas y conocimientos partiendo de los mas simples y llegando a
            los mas complejos.
          </ListItemCourse>
          <ListItemCourse>
            Todos los cursos aplican el concepto de aprendizaje basado en el rendimiento, que significa que progresas
            bastándote en cumplir requisitos de ejecución concretos bajo la guía de un instructor.
          </ListItemCourse>
          <ListItemCourse>
            <b
              >La gente difiere en sus capacidades, de fuerza, limites y debilidades, nuestro cursos son flexibles para
              adaptarse a estas diferencias.</b
            >
          </ListItemCourse>
          <ListItemCourse>
            Coordiná con nosotros fecha de inicio, días, horario y cantidad de clases semanales.
          </ListItemCourse>
          <ListItemCourse>
            <b>Horarios:<br />Lunes a Viernes de 10 a 22:00 hs.<br />Sábados 10 a 18 hs.<br />Domingos consultar.</b>
          </ListItemCourse>
          <ListItemCourse>
            <b>IMPORTANTE:</b> Los cursos pueden ser intensivos, extendidos, teniendo todas las modalidades el mismo costo.
          </ListItemCourse>
          <ListItemCourse><b>Hacé con nosotros toda la carrera como buceador PADI.</b></ListItemCourse>
        </ul>
      </div>
      <div class="col-right">
        <h3>Cursos & Especialidades</h3>
        <ul>
          <li><LinkCourse course={cursos.owd} /></li>
          <li><LinkCourse course={cursos.aowd} /></li>
          <li><LinkCourse course={cursos.efr} /></li>
          <li><LinkCourse course={cursos.rd} /></li>
          <li><LinkCourse course={cursos.dm} /></li>
          <li><LinkCourse course={cursos.ts} /></li>
          <li><LinkCourse course={cursos.eand} /></li>
          <li><LinkCourse course={cursos.fotografia} /></li>
        </ul>
      </div>
    </article>
  </SectionContainer>
</Layout>

<style lang="scss">
  @import "@styles/variables";

  h3 {
    font-size: 24px;
    border-bottom: 1px solid $color-secondary;
    padding-bottom: 2px;
    margin-bottom: 24px;
  }

  article {
    $max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

    .col-left {
      width: 100%;
      max-width: $max-width;

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
      }
    }

    .col-right {
      width: 100%;
      max-width: $max-width;

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
      }
    }
  }

  @media (width > 768px) {
    h3 {
      font-size: 32px;
    }

    article {
      flex-direction: row;
      align-items: flex-start;
    }
  }
</style>
