---
import { info, cursos } from "../../data/data.json";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title=`${cursos.owd.name} | ${info.name}`
  description=`Curso ${cursos.owd.name} - ${cursos.owd.description} | ${info.address}, Tel.: ${info.phone}, mail: ${info.email}`
>
  <section>
    <h1>OPEN WATER DIVER</h1>
  </section>
</Layout>
