---
import { info, cursos, prices } from "../../data/data.json";
import Layout from "../../layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
import ListItemCourse from "@components/ListItemCourse.astro";
import Carouselv2 from "@components/Carouselv2.astro";
import NavigationCourses from "@components/NavigationCourses.astro";
import LinkButton from "@components/LinkButton.astro";
import ArrowNarrowRight from "@icons/ArrowNarrowRight.astro";
import ArrowNarrowLeft from "@icons/ArrowNarrowLeft.astro";
const NAME = cursos.owd.name;
const DESCRIPTION = cursos.owd.description;
---

<Layout
  title=`Curso ${NAME} | ${info.name}`
  description=`Curso ${NAME} - ${DESCRIPTION} | ${info.address}, Tel.: ${info.phone}, mail: ${info.email}`
>
  <SectionContainer class="pt-3 pb-2">
    <h1>{NAME}</h1>
    <h2>{DESCRIPTION}</h2>
    <article>
      <div class="col-left">
        <h3>Estructura del curso</h3>
        <ul>
          <ListItemCourse>
            <b>El curso PADI Open Water Diver se compone de tres apartados:</b>
            <ol>
              <li>Desarrollo de conocimientos (5 clases teóricas).</li>
              <li>Inmersiones en pileta (5 clases prácticas).</li>
              <li>Inmersiones en aguas abiertas.</li>
            </ol>
          </ListItemCourse>
          <ListItemCourse>
            Precio: <b>Consultar!</b><br />
            <u>Incluye:</u> Apartados 1 y 2, desarrollos teóricos y prácticos.<br />
            <u>No incluye:</u> Apartado 3, inmersiones en aguas abiertas. Contamos con distintas opciones que se adaptan
            a tus tiempos y tu economía.
          </ListItemCourse>
          <ListItemCourse>
            Certificación: <b>{prices.certification}</b> (Certificación Online, exclusivo Atlantida Diving School).
          </ListItemCourse>
        </ul>
        <div class="highlight-background">
          <h4>1. Desarrollo de conocimientos</h4>
          <p>
            Establece los fundamentos y la información básica que todos los buceadores necesitan conocer para divertirse
            buceando con seguridad.
          </p>
          <p>
            Está dividido en cinco apartados que realizarás principalmente a tu propio tiempo y conveniencia utilizando
            el manual y video del Open Water Diver.
          </p>
          <h4>2. Inmersiones en pileta</h4>
          <p>
            Durante las inmersiones en pileta aplicarás las bases, aprenderás y practicarás técnicas y procedimientos de
            buceo.
          </p>
          <p>Realizarás todo en una piscina bajo la supervisión de tu instructor.</p>
          <p>
            Hay cinco inmersiones en pileta que se corresponden con los cinco apartados de desarrollo de conocimientos.
          </p>
          <p>
            <b
              >Recomendamos hacer el mismo día las clases teóricas y prácticas. Duración aproximada entre 2:30hs. a
              3:00hs.</b
            >
          </p>
        </div>
        <div class="highlight-background">
          <h4>3. Inmersiones en aguas abiertas</h4>
          <p>
            Las inmersiones en aguas abiertas (Check Out) completan tu entrenamiento como buceador aplicando y
            desarrollando tus técnicas y conocimientos en un entorno de buceo bajo la guía y supervisión de tu
            instructor.
          </p>
          <p>Realizarás cuatro inmersiones durante esta parte del curso.</p>
        </div>
      </div>
      <div class="col-right">
        <h3>Nuestro centro de buceo</h3>
        <ul>
          <li>
            <h4>Pileta climatizada</h4>
            <Carouselv2
              items={[
                `<img class="item-carousel--img" src="/img/cursos/owd/pileta001.webp" alt="Pileta climatizada" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/pileta002.webp" alt="Pileta climatizada" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/pileta003.webp" alt="Pileta climatizada" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/pileta004.webp" alt="Pileta climatizada" />`,
              ]}
              pagination={false}
              controls={true}
              interval="10000"
            />
          </li>
          <li>
            <h4>Aula para clases teóricas</h4>
            <Carouselv2
              items={[
                `<img class="item-carousel--img" src="/img/cursos/owd/aula001.webp" alt="Aula para clases teóricas" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/aula002.webp" alt="Aula para clases teóricas" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/aula003.webp" alt="Aula para clases teóricas" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/aula004.webp" alt="Aula para clases teóricas" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/aula005.webp" alt="Aula para clases teóricas" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/aula006.webp" alt="Aula para clases teóricas" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/aula007.webp" alt="Aula para clases teóricas" />`,
              ]}
              pagination={false}
              controls={true}
              interval="10000"
            />
          </li>
          <li>
            <h4>Equipos y carga de aire</h4>
            <Carouselv2
              items={[
                `<img class="item-carousel--img" src="/img/cursos/owd/equipos001.webp" alt="Equipos y carga de aire" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/equipos002.webp" alt="Equipos y carga de aire" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/equipos003.webp" alt="Equipos y carga de aire" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/equipos004.webp" alt="Equipos y carga de aire" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/equipos005.webp" alt="Equipos y carga de aire" />`,
                `<img class="item-carousel--img" src="/img/cursos/owd/equipos006.webp" alt="Equipos y carga de aire" />`,
              ]}
              pagination={false}
              controls={true}
              interval="10000"
            />
          </li>
        </ul>
      </div>
    </article>
  </SectionContainer>

  <SectionContainer class="pt-2 pb-6">
    <NavigationCourses>
      <LinkButton href="/cursos" colorPrimary={false} slot="previous">
        <ArrowNarrowLeft /> Cursos
      </LinkButton>
      <LinkButton href="/cursos/advanced-open-water-diver" colorPrimary={false} slot="next">
        Advanced Open Water Diver <ArrowNarrowRight />
      </LinkButton>
    </NavigationCourses>
  </SectionContainer>
</Layout>

<style lang="scss">
  @import "@styles/variables";

  $h1-font-size: 54px;
  $h1-font-size-md: 64px;
  $max-width: 480px;

  h1 {
    font-size: $h1-font-size;
    text-wrap: balance;
  }

  h2 {
    font-size: $h1-font-size * 0.45;
    text-wrap: balance;
  }

  h3 {
    font-size: $h1-font-size * 0.5;
    border-bottom: 1px solid $color-secondary;
    padding-bottom: 2px;
    margin-bottom: 24px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 24px;
    border-bottom: 1px solid $color-secondary;
  }

  p {
    margin-bottom: 16px;
  }

  ol {
    padding-left: 32px;
  }

  article {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;

    .col-left {
      width: 100%;
      max-width: $max-width;

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
      }

      div {
        margin-top: 40px;
        padding: 24px;
        border-radius: 4px;
        box-shadow: $box-shadow-primary;
      }
    }

    .col-right {
      width: 100%;
      max-width: $max-width;

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        max-width: 458px;
        margin: auto;
        padding-inline: 24px;
      }
    }
  }

  @media (width > 768px) {
    h1 {
      font-size: $h1-font-size-md;
    }

    h2 {
      font-size: $h1-font-size-md * 0.45;
    }

    h3 {
      font-size: $h1-font-size-md * 0.5;
    }

    article {
      flex-direction: row;
      column-gap: 48px;
      justify-content: center;
      align-items: flex-start;
    }
  }
</style>
