---
import { info, links } from "../data/data.json";
import { buda } from "@data/buda.json";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
import TitlePage from "@components/TitlePage.astro";
import ListItemBuda from "@/components/ListItemBuda.astro";
import LinkButton from "@components/LinkButton.astro";
import WhatsappIcon from "@icons/WhatsappIcon.astro";
import BudaGalleryItem from "@/components/BudaGalleryItem.astro";
---

<Layout
  title=`Checkout ${info.name}`
  description=`Certificate con nosotros en nuestra cantera El Buda a solo 50Km de CABA, Tel.: ${info.phone}, mail: ${info.email}`
  canonicalURL="https://www.divingschool.com.ar/buda"
  ogTitle="¿Querés certificar o practicar buceo?"
  ogDescription="Tenemos nuestro propio lugar para práctica y certificaciones de buceo. Te esperamos!"
>
  <SectionContainer class="pt-3 pb-3">
    <TitlePage
      title="Espejo de agua El Buda"
      subtitle="Nuestro propio lugar para prActica y certificaciones de buceo"
    />
  </SectionContainer>

  <SectionContainer class="pt-2 pb-2 highlight-background">
    <article class="intro">
      <h3>Tener nuestro propio espejo de agua no es un detalle… es una gran diferencia.</h3>
      <p>
        Sin viajes largos ni necesidad de hospedaje, nuestros alumnos realizan sus salidas de certificación en un
        entorno pensado 100% para aprender, disfrutar y, sobre todo, sentirse seguros. Contamos con un acceso tipo
        muelle que simula situaciones reales de ingreso al agua y dos plataformas sumergidas ideales para practicar
        ejercicios con tranquilidad, control y confianza.
      </p>
      <p>
        Todo está preparado para que la experiencia sea completa: comodidad, logística simple y hasta un espacio para
        relajarse y almorzar entre buceos. Porque aprender a bucear no debería ser estresante… debería ser una
        experiencia segura, cómoda y bien guiada desde el primer momento.
      </p>
    </article>
  </SectionContainer>

  <SectionContainer class="pt-2 pb-3">
    <article class="list">
      <ul>
        <ListItemBuda> <b>Ubicación:</b> Un oasis a solo 50 minutos de CABA. Benavidez.</ListItemBuda>
        <ListItemBuda
          ><b>Más rápido:</b> Para certificar cualquier día de la semana, sin necesidad de largos viajes ni reserva de hospedaje.</ListItemBuda
        >
        <ListItemBuda
          ><b>Personalizado:</b> Solo grupos reducidos y con un máximo de dos alumnos por instructor, más un divemaster.</ListItemBuda
        >
        <ListItemBuda><b>Comodidades:</b> Estacionamiento, baños, quinchos, bar, kayaks, etc.</ListItemBuda>
        <ListItemBuda
          >En tu jornada de certificación están incluidos 2 días de buceo, tanques y lastres, almuerzo y, además, una
          remera de regalo y la bitácora para quienes certifiquen y completen las 4 inmersiones.</ListItemBuda
        >
      </ul>
    </article>

    <div class="button">
      <LinkButton href={links.whatsapp} colorPrimary={true} target="_blank">
        Contacto <WhatsappIcon />
      </LinkButton>
    </div>
  </SectionContainer>

  <SectionContainer class="pt-0 pb-6">
    <div class="buda__gallery">
      {
        buda.map((b) => {
          return <BudaGalleryItem b={b} />;
        })
      }
    </div>
  </SectionContainer>
</Layout>

<style lang="scss">
  @import "@styles/variables";

  $max-width: 880px;

  .intro {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: $max-width;
    margin-inline: auto;

    h3 {
      font-family: "Nunito Variable", sans-serif;
      font-style: normal;
      letter-spacing: normal;
      font-size: 18px;
      text-align: left;
      font-weight: bold;
    }
  }

  .list {
    max-width: $max-width;
    margin-inline: auto;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      width: 100%;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
  }

  .buda__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, min(100%, 400px));
    gap: 4px;
    width: 100%;
    justify-content: center;
  }
</style>
