---
import "../styles/pages/index.scss";
import { info, links, cursos } from "../data/data.json";

import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CarouselHome from "../components/CarouselHome.astro";
import LinkButton from "../components/LinkButton.astro";
import ArrowNarrowRight from "../icons/ArrowNarrowRight.astro";
---

<Layout
  title=`Buceo ${info.name}`
  description=`Primer ${info.divecenter} de la Argentina, Centro Internacional de Buceo, ${info.address}, Tel.: ${info.phone}, mail: ${info.email}`
>
  <!-- Sección hero -->
  <section class="homepage-hero__container">
    <picture class="homepage-hero__background">
      <source media="(max-width: 576px)" srcset="/img/home/slide-background-mobile.webp" />
      <source media="(max-width: 768px)" srcset="/img/home/slide-background-mobile-sm.webp" />
      <source media="(max-width: 992px)" srcset="/img/home/slide-background-desktop-md.webp" />
      <source media="(max-width: 1200px)" srcset="/img/home/slide-background-desktop-lg.webp" />
      <source media="(max-width: 1400px)" srcset="/img/home/slide-background-desktop-xl.webp" />
      <source media="(min-width: 1401px)" srcset="/img/home/slide-background-desktop-xxl.webp" />
      <img src="/img/home/slide-background-mobile.webp" alt="Instructor de Atlántida, Leo Cuneo, buceando" />
    </picture>
    <div class="homepage-hero__links">
      <a class="homepage-hero__links--padi" href={links.padi} target="_blank">
        <img src="/img/logo-padi-transp-color.webp" alt="Logo PADI" />
      </a>
      <a class="homepage-hero__links--dan" href={links.dan} target="_blank">
        <img src="https://media.dan.org/logos/referral/dan_join_std.png" alt="Logo DAN" />
      </a>
    </div>
    <div class="homepage-hero__carousel">
      <CarouselHome />
    </div>
  </section>

  <!-- Sección de presentación de nuestro centro de buceo -->
  <SectionContainer>
    <div class="homepage-school__container">
      <div class="homepage-school__title">
        <h1>ATLANTIDA</h1>
        <h2>Escuela de buceo</h2>
        <LinkButton href="/cursos/open-water-diver" colorPrimary={false}>
          Conocé la escuela <ArrowNarrowRight />
        </LinkButton>
      </div>
      <div class="homepage-school__video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/jYtcw44LoO0?si=2vbJtbUOd8WQ_kos"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </SectionContainer>

  <!-- Sección de introducción a los cursos y especialidades -->
  <SectionContainer class="highlight-background">
    <div class="homepage-courses__container">
      <h2 class="homepage-courses__title">Cursos de buceo & especialidades</h2>
      <div class="homepage-courses__links">
        <a href="/cursos/open-water-diver">
          <img
            class="linkCurso"
            src="/img/cursos/open-water-diver.webp"
            alt={cursos.owd.name + " - " + cursos.owd.description}
          />
        </a>
        <a href="/cursos/rescue-diver">
          <img
            class="linkCurso"
            src="/img/cursos/rescue-diver.webp"
            alt={cursos.rd.name + " - " + cursos.rd.description}
          />
        </a>
        <a href="/cursos/traje-seco">
          <img
            class="linkCurso"
            src="/img/cursos/traje-seco.webp"
            alt={cursos.ts.name + " - " + cursos.ts.description}
          />
        </a>
        <a href="/cursos/enriched-air-nitrox-diver">
          <img
            class="linkCurso"
            src="/img/cursos/enriched-air-nitrox-diver.webp"
            alt={cursos.eand.name + " - " + cursos.eand.description}
          />
        </a>
      </div>
      <LinkButton href="/cursos" colorPrimary={false}>
        Todos los cursos <ArrowNarrowRight />
      </LinkButton>
    </div>
  </SectionContainer>

  <!-- Sección de intro al Buda -->
  <SectionContainer>
    <div class="homepage-checkout__container">
      <div class="homepage-checkout__video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/ldvs8O1WYXQ?si=CwCnnpLauleW1Q2-"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="homepage-checkout__title">
        <h2>EL BUDA</h2>
        <h3>Espejo de agua</h3>
        <LinkButton href="/buda" colorPrimary={false}>
          Conocé El Buda <ArrowNarrowRight />
        </LinkButton>
      </div>
    </div>
  </SectionContainer>

  <!-- Sección de intro a viajes -->
  <SectionContainer class="highlight-background">
    <div class="homepage-trips__container"><h2>Viajes y salidas de buceo</h2></div>
  </SectionContainer>

  <!-- Sección de contacto -->
  <SectionContainer>
    <div class="homepage-contact__container"><h2 class="mb-4">ESTUDIA CON NOSOTROS</h2></div>
  </SectionContainer>

  <div class="cuadrado"></div>
</Layout>

<script>
  const observer = new IntersectionObserver((entries) => {
    // Loop over the entries
    entries.forEach((entry) => {
      // If the element is visible
      if (entry.isIntersecting) {
        // Add the animation class
        entry.target.classList.add("square-animation");
      }
    });
  });

  const SELECTOR = document.querySelector(".cuadrado") as HTMLElement;
  observer.observe(SELECTOR);
</script>
