---
import "../styles/pages/index.scss";
import { info, links } from "../data/data.json";
import Layout from "../layouts/Layout.astro";
import CarouselHome from "../components/CarouselHome/CarouselHome.astro";
---

<Layout
  title=`Buceo ${info.name}`
  description=`Primer ${info.divecenter} de la Argentina, Centro Internacional de Buceo, ${info.address}, Tel.: ${info.phone}, mail: ${info.email}`
>
  <!-- Sección de bienvenida -->
  <section class="welcome">
    <picture class="welcome__background">
      <source media="(max-width: 500px)" srcset="/img/home/slide-background-mobile.webp" />
      <source media="(max-width: 768px)" srcset="/img/home/slide-background-mobile-lg.webp" />
      <source media="(min-width: 769px)" srcset="/img/home/slide-background-desktop.webp" />
      <img src="/img/home/slide-background-mobile.webp" alt="Chris standing up holding his daughter Elva" />
    </picture>
    <div class="welcome__links">
      <a class="welcome__links--padi" href={links.padi} target="_blank">
        <img src="/img/logo-padi-transp-color.webp" alt="Logo PADI" />
      </a>
      <a class="welcome__links--dan" href={links.dan} target="_blank">
        <img src="https://media.dan.org/logos/referral/dan_join_std.png" alt="Logo DAN" />
      </a>
    </div>
    <div class="welcome__carousel"><CarouselHome /></div>
  </section>

  <!-- Sección de presentación de nuestro centro de buceo -->
  <section class="container__main intro__escuela">Sección de presentación de nuestro centro de buceo</section>

  <!-- Sección de introducción a los cursos y especialidades -->
  <section class="container__main bkgATLBodyCont intro__cursos">
    Sección de introducción a los cursos y especialidades
  </section>

  <!-- Sección de intro al Buda -->
  <section class="container__main intro__buda">Sección de intro al Buda</section>

  <!-- Sección de intro a viajes -->
  <section class="container__main bkgATLBodyCont intro__viajes">Sección de intro a viajes</section>

  <!-- Sección de contacto -->
  <section class="container__main intro__contacto">Sección de contacto</section>

  <style></style>
</Layout>
../components/CarouselHome/CarouselText.astro
