---
import "@styles/pages/index.scss";
import { info, links, cursos, trips } from "@data/data.json";
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
import Carouselv2 from "@components/Carouselv2.astro";
import LiteYoutube from "@components/LiteYoutube.astro";
import LinkButton from "@components/LinkButton.astro";
import LinkCourse from "@components/LinkCourse.astro";
import ArrowNarrowRight from "@icons/ArrowNarrowRight.astro";
import ScubaMask from "@icons/ScubaMask.astro";
const CAROUSEL = [
  `<h2 class="item-carousel--title">EXPERIENCIA</h2>
     <p class="item-carousel--description">Lo más importante al elegir un curso de buceo es la experiencia de los Instructores.<br />Desde 1986, ${
       new Date().getFullYear() - 1986
     } años ininterrumpidos dictando cursos de buceo. Más de 6000 alumnos certificados.</p>`,
  `<h2 class="item-carousel--title">DISPONIBILIDAD</h2>
     <p class="item-carousel--description">Programá el curso de buceo según tu disponibilidad. Con nosotros podés elegir día, horario y cantidad de clases semanales. Lunes a Sábados.</p>`,
  `<h2 class="item-carousel--title">COMODIDAD</h2>
     <p class="item-carousel--description">Cursos de buceo totalmente personalizados de 1 a 6 alumnos como máximo. Nuestro objetivo es tu comodidad y que te sientas seguro y sin presiones. Siempre hay un instructor para vos.</p>`,
  /*`<h2 class="item-carousel--title">PROMOCION</h2>
     <p class="item-carousel--description">Inscribite AHORA con un 2x1. Uno paga y dos hacen el curso de buceo Open Water Diver.</p>`,*/
];
---

<Layout
  title=`Buceo ${info.name}`
  description=`Primer ${info.divecenter} de la Argentina, Centro Internacional de Buceo, ${info.address}, Tel.: ${info.phone}, mail: ${info.email}`
>
  <!-- Sección hero -->
  <section class="homepage-hero__container">
    <picture class="homepage-hero__background">
      <source media="(max-width: 576px)" srcset="/img/home/slide-background-mobile.webp" />
      <source media="(max-width: 768px)" srcset="/img/home/slide-background-mobile-sm.webp" />
      <source media="(max-width: 992px)" srcset="/img/home/slide-background-desktop-md.webp" />
      <source media="(max-width: 1200px)" srcset="/img/home/slide-background-desktop-lg.webp" />
      <source media="(max-width: 1400px)" srcset="/img/home/slide-background-desktop-xl.webp" />
      <source media="(min-width: 1401px)" srcset="/img/home/slide-background-desktop-xxl.webp" />
      <img
        src="/img/home/slide-background-mobile.webp"
        alt="Instructor de Atlántida, Leo Cuneo, buceando"
        loading="eager"
      />
    </picture>
    <div class="homepage-hero__links">
      <a class="homepage-hero__links--padi" href={links.padi} target="_blank" aria-label="PADI" rel="noopener">
        <img src="/img/logo-padi-transp-color.webp" alt="Logo PADI" />
      </a>
      <a class="homepage-hero__links--dan" href={links.dan} target="_blank" aria-label="DAN" rel="noopener">
        <img src="https://media.dan.org/logos/referral/dan_join_std.png" alt="Logo DAN" />
      </a>
    </div>
    <div class="homepage-hero__carousel">
      <Carouselv2 items={CAROUSEL} pagination={true} controls={false} interval="10000" />
    </div>
  </section>

  <!-- Sección de presentación de nuestro centro de buceo -->
  <SectionContainer class="pt-6 pb-6">
    <article class="homepage-school__container">
      <div class="homepage-school__title">
        <h1>ATLANTIDA</h1>
        <h2>Escuela de buceo</h2>
        <LinkButton href="/cursos/open-water-diver" colorPrimary={false}>
          Conocé la escuela <ArrowNarrowRight />
        </LinkButton>
      </div>
      <div class="homepage-school__video">
        <LiteYoutube
          videoId="jYtcw44LoO0"
          title="Un día de cursos en Atlántida"
          backgroundImage="/img/thumbnail-youtube/un-dia-de-cursos.webp"
        />
      </div>
    </article>
  </SectionContainer>

  <!-- Sección de introducción a los cursos y especialidades -->
  <SectionContainer class="pt-6 pb-6 highlight-background">
    <article class="homepage-courses__container">
      <h2 class="homepage-courses__title">Cursos de buceo & especialidades</h2>
      <div class="homepage-courses__links">
        <LinkCourse course={cursos.owd} />
        <LinkCourse course={cursos.rd} />
        <LinkCourse course={cursos.ts} />
        <LinkCourse course={cursos.eand} />
      </div>
      <LinkButton href="/cursos" colorPrimary={false}>
        Todos los cursos <ArrowNarrowRight />
      </LinkButton>
    </article>
  </SectionContainer>

  <!-- Sección de intro al Buda -->
  <SectionContainer class="pt-6 pb-6">
    <article class="homepage-checkout__container">
      <div class="homepage-checkout__title">
        <h2>EL BUDA</h2>
        <h3>Espejo de agua</h3>
        <LinkButton href="/buda" colorPrimary={false}>
          Conocé El Buda <ArrowNarrowRight />
        </LinkButton>
      </div>
      <div class="homepage-checkout__video">
        <LiteYoutube
          videoId="ldvs8O1WYXQ"
          title="Certificación Open Water Diver en el Buda"
          backgroundImage="/img/thumbnail-youtube/el-buda.webp"
        />
      </div>
    </article>
  </SectionContainer>

  <!-- Sección de intro a viajes -->
  <SectionContainer class="pt-6 pb-6 highlight-background">
    <article class="homepage-trips__container">
      <h2 class="homepage-trips__title">Viajes y salidas de buceo</h2>
      <div class="homepage-trips__gallery">
        {
          trips.slice(0, 6).map((trip) => {
            const src = `/img/viajes/${trip.img}`;
            const alt = `${trip.city}, ${trip.country}`;
            return <img src={src} alt={alt} loading="lazy" />;
          })
        }
      </div>
      <LinkButton href="/viajes" colorPrimary={false}>
        + Viajes <ArrowNarrowRight />
      </LinkButton>
    </article>
  </SectionContainer>

  <!-- Sección de contacto -->
  <SectionContainer class="pt-6 pb-6">
    <article class="homepage-contact__container">
      <h2 class="homepage-contact__title">ESTUDIA CON NOSOTROS</h2>
      <div class="homepage-contact__info">
        <p>
          Nuestros cursos de buceo <strong>NO DEPENDEN</strong> como la mayoría de otras escuelas de un día especifico o
          de un número mínimo de candidatos para comenzar.
        </p>
        <p>
          Los días y horarios son programados en función de la disponibilidad del alumno y de acuerdo con la agenda del
          día.
        </p>
        <p>Nuestro principal objetivo es que te sientas <strong>CÓMODO, SEGURO Y SIN PRESIONES.</strong></p>
        <p>Cursos de buceo totalmente personalizados, no más de 6 alumnos por grupo.</p>
        <p>Coordiná con nosotros fecha de inicio, días, horario y cantidad de clases semanales.</p>
        <ul>
          <li><span><ScubaMask />Lunes a Viernes de 10:00 a 22:00 hs.</span></li>
          <li><span><ScubaMask />Sábados de 10:00 a 18:00 hs.</span></li>
          <li><span><ScubaMask />Domingos consultar.</span></li>
        </ul>
      </div>
      <LinkButton href="/contacto" colorPrimary={false}>
        Contacto <ArrowNarrowRight />
      </LinkButton>
    </article>
  </SectionContainer>
</Layout>
