---
import { info } from "../data/data.json";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title=`Nosotros ${info.name}`
  description=`Formación y experiencia del staff de ${info.name}, Centro Internacional de Buceo, ${info.address}, Tel.: ${info.phone}, mail: ${info.email}`
>
  <section>
    <h1>NOSOTROS</h1>
  </section>
</Layout>
