---
const INSTAGRAM_LINK = "https://www.instagram.com/buceo_atlantida/";
const FACEBOOK_LINK = "https://www.facebook.com/BuceoAtlantida/";
const TWITTER_LINK = "https://twitter.com/buceoDS";
const YOUTUBE_LINK = "https://www.youtube.com/channel/UCoyCRFvtQJpkyWX3rAUg5Ig";
const GOOGLE_MAPS_LINK = "https://goo.gl/maps/vCSu5ATBH3A2";
const YEAR = new Date().getFullYear();
---

<footer class="footer">
  <section class="footer__row">
    <div class="footer__row--diveCenter">
      <p>PADI Dive Center S#19636</p>
    </div>
    <div class="footer__row--socialNetworks">
      <a href={INSTAGRAM_LINK} target="_blank" aria-label="Instagram">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path><path
            d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path><path d="M16.5 7.5l0 .01"></path></svg
        >
      </a>
      <a href={YOUTUBE_LINK} target="_blank" aria-label="Youtube">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"></path><path
            d="M10 9l5 3l-5 3z"></path></svg
        >
      </a>
      <a href={FACEBOOK_LINK} target="_blank" aria-label="Facebook">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path></svg
        >
      </a>
      <a href={TWITTER_LINK} target="_blank" aria-label="Twitter">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 4l11.733 16h4.267l-11.733 -16z"
          ></path><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
        >
      </a>
    </div>
  </section>
  <hr />

  <section class="footer__row">
    <div class="footer__row--contact">
      <a href={GOOGLE_MAPS_LINK} target="_blank">
        <p>CLUB JOSE HERNANDEZ - Bragado 5950 - Mataderos - C.A.B.A. - Argentina</p>
      </a>
      <p>Tel.: (+54)11.4939.6268 / (+54)11.5979.0203</p>
      <p>info@divingschool.com.ar</p>
    </div>
    <div class="footer__row--logoPadi">
      <a href="https://www.padi.com/" target="_blank">
        <img src="" alt="PADI" title="PADI" />
      </a>
    </div>
  </section>
  <hr />

  <section class="footer__row">
    <div class="footer__row--legal">
      <p>
        Copyright &copy {YEAR} - <a href="https://www.instagram.com/nacho.fj/" target="_blank">[ Nacho FJ ]</a> - Todas las
        fotografías utilizadas en esta página son propiedad exclusiva de Atlantida Diving School, el uso no autorizado de
        las mismas está penado por la ley.
      </p>
    </div>
  </section>
</footer>

<style>
  .footer {
    background: #d9d9d9;
  }

  .footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin-inline: auto;
  }
</style>
