---
import { info, links } from "@data/data.json";

import InstagramIcon from "@icons/InstagramIcon.astro";
import YoutubeIcon from "@icons/YoutubeIcon.astro";
import FacebookIcon from "@icons/FacebookIcon.astro";
import TwitterIcon from "@icons/TwitterIcon.astro";
---

<footer class="footer">
  <div class="footer__row container">
    <h4>{info.divecenter}</h4>
    <div class="footer__social-networks">
      <a href={links.instagram} target="_blank" aria-label="Instagram" rel="noopener">
        <InstagramIcon class="footer__social-networks--icons" />
      </a>
      <a href={links.youtube} target="_blank" aria-label="Youtube" rel="noopener">
        <YoutubeIcon class="footer__social-networks--icons" />
      </a>
      <a href={links.facebook} target="_blank" aria-label="Facebook" rel="noopener">
        <FacebookIcon class="footer__social-networks--icons" />
      </a>
      <a href={links.twitter} target="_blank" aria-label="Twitter" rel="noopener">
        <TwitterIcon class="footer__social-networks--icons" />
      </a>
    </div>
  </div>

  <div class="footer__row container">
    <div class="footer__contact-info">
      <a href={links.maps} target="_blank" aria-label="Google Maps" rel="noopener">
        <span>{info.location}<br />{info.address}</span>
      </a>
      <p>Tel.: {info.phone}</p>
      <p>{info.email}</p>
    </div>

    <a class="footer__logo-Padi" href={links.padi} target="_blank" aria-label="PADI" rel="noopener">
      <img src="/img/logo-padi-transp-black.webp" alt="Logo PADI" title="Logo PADI" />
    </a>
  </div>

  <div class="footer__legal container">
    <p>
      Copyright &copy {new Date().getFullYear()} - <a
        href={links.developer}
        target="_blank"
        aria-label="Linkedin"
        rel="noopener">[ Nacho FJ ]</a
      > - Todas las fotografías utilizadas en esta página son propiedad exclusiva de Atlantida Diving School, el uso no autorizado
      de las mismas está penado por la ley.
    </p>
  </div>
</footer>

<style lang="scss">
  @import "../styles/variables";

  .footer {
    background: $color-footer;
    color: $font-color-max;

    & a {
      color: $font-color-max;

      &:hover {
        opacity: 0.7;
      }
    }

    &__row {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      align-items: center;
      padding-block: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    &__social-networks {
      display: flex;
      column-gap: 16px;
      align-items: center;

      &--icons {
        width: 24px;
        height: auto;
        fill: $font-color-max;
      }
    }

    &__contact-info {
      text-align: center;
    }

    &__legal {
      padding-top: 24px;
      padding-bottom: 80px;
      font-size: 12px;
    }
  }

  @media (width > 768px) {
    .footer {
      &__row {
        flex-direction: row;
        justify-content: space-between;
      }

      &__contact-info {
        text-align: left;
      }
    }
  }
</style>
