---
import "./Footer.scss";
import { info, links } from "../../data/data.json";

import InstagramIcon from "../icons/InstagramIcon.astro";
import YoutubeIcon from "../icons/YoutubeIcon.astro";
import FacebookIcon from "../icons/FacebookIcon.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";

interface Props {
  class: string;
  year: number;
}
const { class: className, year } = Astro.props;
---

<footer class="footer">
  <section class=`footer__row ${className}`>
    <h4>PADI Dive Center S#19636</h4>
    <div class="footer__social-networks">
      <a href={links.instagram} target="_blank" aria-label="Instagram">
        <InstagramIcon class="footer__social-networks--icons" />
      </a>
      <a href={links.youtube} target="_blank" aria-label="Youtube">
        <YoutubeIcon class="footer__social-networks--icons" />
      </a>
      <a href={links.facebook} target="_blank" aria-label="Facebook">
        <FacebookIcon class="footer__social-networks--icons" />
      </a>
      <a href={links.twitter} target="_blank" aria-label="Twitter">
        <TwitterIcon class="footer__social-networks--icons" />
      </a>
    </div>
  </section>

  <section class=`footer__row ${className}`>
    <div class="footer__contact-info">
      <a href={links.maps} target="_blank">
        <span>{info.location}<br />{info.address}</span>
      </a>
      <p>Tel.: {info.phone}</p>
      <p>{info.email}</p>
    </div>

    <a class="footer__logo-Padi" href={links.padi} target="_blank">
      <img src="/logo-padi-transp-black.webp" alt="Logo PADI" title="Logo PADI" />
    </a>
  </section>

  <section class=`footer__legal ${className}`>
    <p>
      Copyright &copy {year} - <a href={links.developer} target="_blank">[ Nacho FJ ]</a> - Todas las fotografías utilizadas
      en esta página son propiedad exclusiva de Atlantida Diving School, el uso no autorizado de las mismas está penado por
      la ley.
    </p>
  </section>
</footer>
