---
import "@fontsource-variable/nunito"; // Supports weights 200-900
import "@fontsource/ostrich-sans/900.css";
import "@styles/globals.scss";
import { links } from "@data/data.json";

import Nav from "@components/Nav.astro";
import WhatsappButton from "@components/WhatsappButton.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
  description: string;
  canonicalURL: string;
  ogTitle: string;
  ogDescription: string;
}
const { title, description, canonicalURL, ogTitle, ogDescription } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:image" content="https://www.divingschool.com.ar/img/home/slide-background-mobile-sm.webp" />
    <meta name="author" content="Ignacio Fernández Jeansalle" />
    <meta
      name="keywords"
      content="Buceo, Buceo PADI Argentina, Cursos de buceo, Viajes de Buceo, Escuela de Buceo, Escuela de Buceo en Capital Federal, Escuela de Buceo PADI en Capital Federal, Clases de Buceo, Buceo en Argentina, Open Water Diver, PADI Dive Center, Atlantida Diving School, Scuba, Scuba diving, centro internacional de buceo, cursos, viajes de buceo, salidas, diving, dive, divecenter, buenos aires buceo, puerto madryn, buceo en patagonia, argentina, buceo en caribe, buceo en brasil, equipos de buceo, tanque, chalecos, trajes, neoprene, reguladores, buzo, bucear, aprender, la cuba de campo de mayo, buceo profesional, advanced, rescate, divemaster, instructor, nitrox, buceo profundo, experiencia, videosub, fotosub, efr, primeros auxilio, canteras salto uruguay, el terrible, padi divecheck, orca, ballenas, cozumel, submarinismo, agua, pileta climatizada, temporada verano, oxigeno, camara hiperbarica"
    />
    <link rel="canonical" href={canonicalURL} />
    <link rel="icon" href="/favicon.png" />
  </head>
  <body>
    <header class="header">
      <Nav />
    </header>
    <main class="main">
      <WhatsappButton url={links.whatsapp} />
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script>
  const CURRENT_YEAR = new Date().getFullYear();
  const $currentYear = document.getElementsByClassName("currentYear");
  const $yearsSince1986 = document.getElementsByClassName("yearsSince1986");

  const renderYears = (collectionOfElement: HTMLCollectionOf<Element>, since: number) => {
    for (let i = 0; i < collectionOfElement.length; i++) {
      collectionOfElement[i].innerHTML = (CURRENT_YEAR - since).toString();
    }
  };

  $currentYear.length > 0 && renderYears($currentYear, 0);
  $yearsSince1986.length > 0 && renderYears($yearsSince1986, 1986);
</script>
